.resultItem {
	float: left;
	margin: 0 3px;
}
.bar {
	position: relative;
	height: 200px;
	width: 40px;
	border:1px solid black;
}
.filledBar {
	position: absolute;
	bottom: 0px;
	left:0px;
	background-color: #00aa00;
	width: 100%;
}
.barAmount {
	position: absolute;
	margin-left: 2px;
}
#results{
	display: none;
}
#legends {
	clear: both;
	margin-top: 250px;
}